@import "https://fonts.googleapis.com/css?family=Oswald:200,400,700";
:root {
  --color-white: #f8f8f8;
  --color-beige: #f1d6ab;
  --color-mostaza: #e3b04b;
  --color-blue: #3c70a4;
  --color-gray: #f9f9f9;
  --color-mid-gray: #e5e5e5;
  --color-dark-gray: #3c4245;
  --color-black: #2b2b28;
}
* {
  margin: 0;
  padding: 0;
}
#container {
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
  color: var(--color-dark-gray);
  position: relative;
}

a {
  text-decoration: none;
  margin-right: 1rem;
  color: var(--color-dark-gray);
  font-size: 18px;
}
a:hover {
  color: var(--color-mostaza);
}

header {
  position: sticky;
  top: 0;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: white;
  border-bottom: solid 0.3px var(--color-mid-gray);
}
#img {
  display: flex;
  align-items: center;
}
#header-img {
  width: 20rem;
}
#nav-link {
  display: inline-block;
}
.nav-boton {
  color: var(--color-dark-gray);
  border: none;
  background-color: transparent;
  font-size: 2rem;
  display: none;
}
#main {
  margin-top: 40px;
}
#title-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#title {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 35px;
  text-align: center;
}
#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#email {
  width: 100%;
  margin: 20px 0;
  height: 3rem;
  border-radius: 25px;
  padding-left: 15px;
  border: 0.4px solid var(--color-mid-gray);
  font-size: 1rem;
}
#submit {
  display: block;
  width: 75%;
  height: 3rem;
  border-radius: 25px;
  background-color: var(--color-mostaza);
  border: none;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--color-white);
  padding: 5px;
}
#submit:hover {
  background-color: var(--color-beige);
  color: var(--color-black);
}
#features {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 70px 0;
}
#features-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 25rem;
  height: 25rem;
  background-color: var(--color-gray);
  border-radius: 50%;
}
.icon {
  margin: 20px 0;
  color: var(--color-mostaza);
}
h2 {
  margin: 20px 0;
}
p {
  font-weight: 200;
  font-size: 1rem;
  width: 50%;
  margin: 0 auto;
}
#linea {
  border-bottom: 0.2px solid var(--color-mid-gray);
  margin: 0 auto;
  width: 40%;
  padding-top: 40px;
}
#how-it-works {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
#pricing {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}
#card {
  margin: 0 auto;
  padding: 20px 5px;
  color: var(--color-dark-gray);
  border-radius: 20px;
  width: 20%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-gray);
}
#card-title {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
#card-price {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 30px;
  color: var(--color-blue);
}
#card-button {
  display: block;
  width: 50%;
  height: 30px;
  border: none;
  text-transform: uppercase;
  background-color: var(--color-mostaza);
  color: white;
  margin-top: 20px;
  cursor: pointer;
  font-size: 16px;
}
#footer {
  background-color: var(--color-dark-gray);
  color: white;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 50px;
}
#footer-links {
  display: flex;
  flex-direction: column;
}
#footer-link {
  color: white;
  font-weight: 200;
  font-size: 14px;
  padding-left: 20px;
}
#footer-desc {
  text-align: center;
}
@media (max-width: 1000px) {
  #card {
    width: 45%;
    margin: 15px;
  }
}
@media (max-width: 800px) {
  #card {
    width: 45%;
    margin: 15px;
  }
  #features {
    flex-direction: column;
  }
  #features-container {
    margin-bottom: 20px;
  }
}
@media (max-width: 620px) {
  .nav-boton {
    display: inline-block;
    padding-right: 20px;
  }
  #nav-link {
    display: none;
  }
  #card {
    width: 75%;
    margin: 20px;
  }
  #features {
    flex-direction: column;
  }
  #features-container {
    margin-bottom: 20px;
  }
}
